.haqqimizda {
	padding: 86px 0;
	&__title {
		@include font($dpr, 36px , #0068b3 , 36px);
		margin-bottom: 50px;
	}
	&__text {
		@include font($dpr, 16px , #333333 , 24px);
		text-align: justify;
	}
}