      <div class="faydaliLinkler">
      	<div class="container">
      	<div class="sectionTop">
      		<div class="sectionTop__boxes">
      			<div class="sectionTop__box"></div>
      			<div class="sectionTop__box"></div>
      			<div class="sectionTop__box"></div>
      			<div class="sectionTop__box"></div>
      		</div>
      		<div class="sectionTop__title">
      			<div class="sectionTop__title-line"></div>
      			<h2 class="sectionTop__title-text faydaliLinkler__title">FAYDALI LİNKLƏR</h2>
      			<div class="sectionTop__title-line"></div>
      		</div>
      	</div>

      	<div class="owl-carousel faydaliLinkler_carousel">

      		<div class="carousel_item">
      			<a href="#"> <img src="img/fay-linklerIMG1.jpg"> </a>
      		</div>

      		<div class="carousel_item">
      			<a href="#"><img src="img/fay-linklerIMG2.jpg"></a>
      		</div>

      		<div class="carousel_item">
      			<a href="#"> <img src="img/fay-linklerIMG3.jpg"></a>
      		</div>

      		<div class="carousel_item">
      			<a href="#"> <img src="img/fay-linklerIMG4.jpg"></a>
      		</div>

      		<div class="carousel_item">
      			<a href="#"><img src="img/fay-linklerIMG5.jpg"></a>
      		</div>

      		<div class="carousel_item">
      			<a href="#"><img src="img/fay-linklerIMG6.jpg"></a>
      		</div>

      		<div class="carousel_item">
      			<a href="#"> <img src="img/fay-linklerIMG7.jpg"></a>
      		</div>

      	</div>


      	
      		
      	</div>
      </div>