<section class="headerSecond">
	


	<div class="headerSecond__top ">
		<div class="container">
			<div class="searchGroup">
				<input type="text" class="searchGroup__input" placeholder="Axtarış" name="" >
				<div>
					<button type="btn btn-outline-secondary" id="searchGroup__btn" class="searchGroup__btn"><i class="fa fa-search" aria-hidden="true"></i></button>

				</div>

			</div>	
		</div>


	</div>
	<div class="nav-container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" >
			<div class="container">
				<a class="navbar-brand" href="#">
					<img src="../img/headersecond.png">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav headerSecond__nav" lang="az">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Ana Səhifə<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Azərbaycan</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="haqqimizda.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								UNSEEN
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="error.html">Error</a>
								<a class="dropdown-item" href="success.html">Success</a>
								<a class="dropdown-item" href="success1.html">Success1</a>
								<a class="dropdown-item" href="search.html">Search</a>
								<a class="dropdown-item" href="#">Xəbərlər</a>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="haqqimizda.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Haqqımızda
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="hqqmzdaSura.html">ŞURA</a>
								<a class="dropdown-item" href="struktur.html">Struktur</a>
								<a class="dropdown-item" href="katiblik.html">Katiblik</a>
								<a class="dropdown-item" href="isciqruplar.html">İşçi qruplar</a>
								<a class="dropdown-item" href="#">Xəbərlər</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="qanunvericilik.html">Qanunvericilik</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Tədbirlər</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="yssf.html">YSSF</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="musabiqeler.html">Müsabiqələr</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Qalereya</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="teklif.html">Təklif et</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Əlaqə</a>
						</li>


					</ul>
				</div>
			</div>


		</nav>
	</div>
	<div class="container">
	</div>
	

	
</section>