<section class="headerFirst">
	<div class="overlay">
		<div class="container">

			<div class="headerFirst__top ">
				<div class="searchGroup">
					<input type="text" class="searchGroup__input" placeholder="Axtarış" name="" >
					<div>
						<button type="btn btn-outline-secondary" id="searchGroup__btn" class="searchGroup__btn"><i class="fa fa-search" aria-hidden="true"></i></button>
						
					</div>
					
				</div>

			</div>

			<div class="headerFirst__center">
				<div class="row">
					<div class="col-sm-2 text-left"><img src="img/headerFirstIMG2.png"></div>
					<div class="col-sm-8 text-right">
						<p class="headerFirst__title text-center">AZƏRBAYCAN RESPUBLİKASI DAYANIQLI İNKİŞAF ÜZRƏ MİLLİ ƏLAQƏLƏNDİRMƏ ŞURASI</p>
					</div>
					<a href="dayaniqliinkishaf.html"><div class="col-sm-2 text-right"><img src="img/headerFirstIMG1.png"></div></a>
				</div>

			</div>

			<div class="headerFirst__centerResponsive">
				<div class="row">
					<div class="col-6 text-right"><img src="img/headerFirstIMG2.png" class="img-fluid"></div>
					<div class="col-6" text-center><img src="img/headerFirstIMG1.png" class="img-fluid"></div>
					<div class="col-12">
						<p class="headerFirst__title">AZƏRBAYCAN RESPUBLİKASI DAYANIQLI İNKİŞAF ÜZRƏ MİLLİ ƏLAQƏLƏNDİRMƏ ŞURASI</p>
					</div>
					
				</div>

			</div>

			<nav class="navbar navbar-expand-lg navbar-light">
				<button class="navbar-toggler nav-btn" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav" lang="az">
						<a class="nav-item nav-link" href="index.html">Ana Səhifə <span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="index.html"><span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="#">Azərbaycan</a>
						<a class="nav-item nav-link" href="haqqimizda.html">Haqqımızda</a>
						<a class="nav-item nav-link" href="qanunvericilik.html">Qanunvericilik</a>
						<a class="nav-item nav-link" href="#">Tədbirlər</a>
						<a class="nav-item nav-link" href="#">YSSS</a>
						<a class="nav-item nav-link" href="musabiqeler.html">Müsabiqələr</a>
						<a class="nav-item nav-link" href="#">Qalereya</a>
						<a class="nav-item nav-link" href="teklif.html">Təklif et</a>
						<a class="nav-item nav-link" href="#">Əlaqə</a>
					</div>
				</div>
			</nav>
		</div>
	</div>

	
</section>